extends layouts/main

block content
  main.main
    h1.main-title Admin Page
    .link-container
      a#selected.admin-link(href="/admin?category=person") Person
      a.admin-link(href="/admin?category=project") Project
      a.admin-link(href="/admin?category=client") Client
      a.admin-link(href="/admin?category=report") Report
    .info-container
      ul.info-list
        if people
          each person in people
            li.list__item
              span.name #{person.name}
        else if clients
          each client in clients
            li.list__item
              span.name #{client.name}
        else if projects
          each project in projects
            li.list__item
              span.name #{project.title}
        else if reports
          each report in reports
            li.list__item
              span.name #{report.title}
