extends layouts/main

block content
    main.main
        h1#welcome-msg  #{loggedUser.name}님 환영합니다!
        if loggedUser.admin
            a(href=routes.admin) 어드민 페이지
        .api-box
            h3 나의 API 키
            input(type="password", value=apiKey, readonly)#api-key
            button#view-api-button
                i.far.fa-eye
            button#copy-api-button
                i.far.fa-copy
        a(href=routes.logout) 로그아웃
    script.
        const viewBtn = document.getElementById("view-api-button");
        const copyBtn = document.getElementById("copy-api-button");
        const apiIpt = document.getElementById("api-key");

        const showAPIforThreeSec = () => {// Show API key for 3 seconds
            apiIpt.type = "text";
            setTimeout(() => apiIpt.type = "password", 3000);
        }

        const copyAPIKeytoClipboard = (event) => {
            apiIpt.type = "text";
            apiIpt.focus();
            apiIpt.select();
            try {
                document.execCommand("copy");
            } catch(error) {
                console.log(error);
                console.log('Oops, unable to copy');
            }
            apiIpt.type = "password";
        }

        viewBtn.addEventListener("click", showAPIforThreeSec);
        copyBtn.addEventListener("click", copyAPIKeytoClipboard);
