extends layouts/main

block content
    main.main
        h1 Signup
        .form-container
            form(action=routes.signup, method="POST")
                input(type="text", name="username", placeholder="아이디", required)
                input(type="password", name="password", placeholder="비밀번호", required)
                input(type="password", name="password2", placeholder="비밀번호 확인", required)
                input(type="submit", value="Login")
